---
services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    ports:
      - 32400:32400
    environment:
      - PUID={{ plex_user_id }}
      - PGID={{ plex_group_id }}
      - TZ={{ plex_timezone }}
      - VERSION={{ plex_version }}
    volumes:
      - /opt/plex/config:/config
{% for item in media_subfolders %}
      - {{ media_mountpoint }}/{{ item }}:/{{ item }}
{% endfor %}
    restart: unless-stopped
