---

- name: Ensure Plex group exists
  ansible.builtin.group:
    name: plex
    gid: "{{ plex_group_id }}"
    system: true

- name: Ensure Plex user exists
  ansible.builtin.user:
    name: plex
    uid: "{{ plex_user_id }}"
    group: plex
    system: true
    create_home: false


- name: Ensure Plex directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: plex
    group: plex
    mode: "0755"
  loop:
    - /opt/plex/config
    - /opt/plex/sonarr
    - /opt/plex

- name: Ensure media directories exist on mountpoint
  ansible.builtin.file:
    path: "{{ media_mountpoint }}/{{ item }}"
    state: directory
    owner: plex
    group: plex
    mode: "0755"
  loop: "{{ media_subfolders }}"

- name: Render docker-compose configuration
  ansible.builtin.template:
    src: templates/opt/plex/docker-compose.yml.j2
    dest: /opt/plex/docker-compose.yml
    owner: root
    group: root
    mode: "0644"
  notify: Start Plex container
